/*
General styles
*/

*{
    transition: all 0.3s;
}

html, body{
    overflow-x: hidden;
}

body{
    width: 100%;
    scroll-behavior: smooth;
    margin: 0;
}

/*
Elements styles
*/

  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
  }

  .text-title{
    padding: 4px;
    background-color: cornflowerblue;
    color: white;
    width: fit-content;
  }

  .scroll-to-top-btn span{
    padding: 4px;
  }

  .learn-more-btn{
    background-color: cornflowerblue;
  }

  .learn-more-btn:hover{
    background-color: white;
    color: cornflowerblue!important;
  }  

  .scroll-to-top-btn span:hover{
    color: white!important;
    background-color: cornflowerblue;
    width: fit-content;
    cursor: pointer;
  }

  .navbar-brand{
    padding: 4px;
  }

  .navbar-brand:hover, .nav-link:hover{
    background-color: cornflowerblue;
    cursor: pointer;
  }

.homepage-article-img{
  padding: 24px;
}

.homepage-slider-img{
  opacity: .25;
}

.sidebar-list li:hover{
  transform: scale(1.1);
}

.sidebar-img{
  max-width: 136px;
}

.tab{
  display: none;
}

.tab.active{
  display: block;
}

.tab-switch-container{
  margin-bottom: 16px;
}

.tab-switch{
  background-color: cornflowerblue;
  color: white;
  border: 1px solid cornflowerblue;
}

.tab-switch:hover, .tab-switch.active{
  background-color: white;
  color: cornflowerblue;
}

.text-img{
  max-width: 420px;
}

.playgroundForm{
  background-color: cornflowerblue;
  color: white;
  padding: 24px;
}

.playgroundForm button{
  color: white;
  border: 1px solid white;
}

.goBackBtn{
  background-color: cornflowerblue;
  color: white;
  padding: 16px;
}

.goBackBtn:hover{
  background-color: white;
  color: cornflowerblue;
}